footer {
    background-color: #0e0b13;
    color: #9c2459;
    padding: 10px 0 4px 0;
    text-align: center;
    width: 100%;
}

footer a {
    color: #9c2459;
    display: inline-block;
    padding: 8px;
    text-decoration: none;
}

footer a:hover {
    background-color: #249c67;
    color: #0e0b13;
    outline: none;
}

footer img {
    height: 22px;
    margin-left: 3px;
    vertical-align: text-bottom;
}